before_script:
  - docker info
  - docker-compose --version

build:
  stage: build
  script:
    - docker-compose build

test:
  stage: test
  script:
    - docker-compose up -d client
    - docker-compose exec -T client npm run test:ci
    - docker-compose stop client

review:
  stage: deploy
  script:
    - VIRTUAL_HOST=$CI_COMMIT_REF_NAME.$APPS_DOMAIN docker-compose -p $CI_COMMIT_REF_NAME up -d
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: http://$CI_COMMIT_REF_NAME.$APPS_DOMAIN:3000
    on_stop: stop_review
  only:
    - branches
  except:
    - master

stop_review:
  stage: deploy
  script:
    docker-compose -p $CI_COMMIT_REF_NAME down
  variables:
    GIT_STRATEGY: none
  when: manual
  environment:
    name: review/$CI_COMMIT_REF_NAME
    action: stop

staging:
  stage: deploy
  script:
    - VIRTUAL_HOST=$APPS_DOMAIN docker-compose up -d
  environment:
    name: staging
    url: http://$APPS_DOMAIN
  only:
    - master
