before_script:
  - docker info
  - docker-compose --version

build:
  stage: build
  script:
    - docker-compose up --build -d

test:
  stage: test
  variables:
    GIT_STRATEGY: none
  script:
    - docker-compose up -d client
    - docker-compose exec -T client npm run test:ci
    - docker-compose exec -T client chmod -R 771 public/coverage
    - docker-compose stop client

review:
  stage: deploy
  script:
    - rsync -av --delete . /home/gitlab-runner/deployment/$CI_COMMIT_REF_SLUG # copy files to branch specific folder
    - cd /home/gitlab-runner/deployment/$CI_COMMIT_REF_SLUG
    - VIRTUAL_HOST=$CI_COMMIT_REF_SLUG.$APPS_DOMAIN docker-compose -p $CI_COMMIT_REF_SLUG up -d client
  environment:
    name: review/$CI_COMMIT_REF_SLUG
    url: http://$CI_COMMIT_REF_SLUG.$APPS_DOMAIN
    on_stop: stop_review
  variables:
    GIT_STRATEGY: none
  only:
    - branches
  except:
    - master

stop_review:
  stage: deploy
  script:
    - docker-compose -p $CI_COMMIT_REF_SLUG rm --force --stop client
    - rm -rf /home/gitlab-runner/deployment/$CI_COMMIT_REF_SLUG
  variables:
    GIT_STRATEGY: none
  when: manual
  environment:
    name: review/$CI_COMMIT_REF_SLUG
    action: stop

staging:
  stage: deploy
  script:
    - rsync -av --delete . /home/gitlab-runner/deployment/staging # copy files to branch staging folder
    - cd /home/gitlab-runner/deployment/staging
    - VIRTUAL_HOST=$APPS_DOMAIN docker-compose up -d client
  variables:
    GIT_STRATEGY: none
  environment:
    name: staging
    url: http://$APPS_DOMAIN
  only:
    - master
