before_script:
  - docker info
  - docker-compose --version

build:
  stage: build
  script:
    - docker-compose build
    - docker-compose up -d

test:
  stage: test
  script:
    - docker-compose exec -T client npm run test:ci
    - docker-compose stop client

review:
  stage: deploy
  script:
    - rsync -av --delete . /home/gitlab-runner/deployment/$CI_COMMIT_REF_SLUG
    - cd /home/gitlab-runner/deployment/$CI_COMMIT_REF_SLUG
    - VIRTUAL_HOST=$CI_COMMIT_REF_NAME.$APPS_DOMAIN docker-compose -p $CI_COMMIT_REF_NAME up -d client
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: http://$CI_COMMIT_REF_NAME.$APPS_DOMAIN
    on_stop: stop_review
  only:
    - branches
  except:
    - master

stop_review:
  stage: deploy
  script:
    docker-compose -p $CI_COMMIT_REF_NAME down
    rm -rf /home/gitlab-runner/deployment/$CI_COMMIT_REF_SLUG
  variables:
    GIT_STRATEGY: none
  when: manual
  environment:
    name: review/$CI_COMMIT_REF_NAME
    action: stop

staging:
  stage: deploy
  script:
    - rsync -av --delete . /home/gitlab-runner/deployment/staging
    - cd /home/gitlab-runner/deployment/staging
    - VIRTUAL_HOST=$APPS_DOMAIN docker-compose up -d client
  environment:
    name: staging
    url: http://$APPS_DOMAIN
  only:
    - master
