version: '3.7'
services:
  client:
    build:
      context: ./app/
    command: npm start
    volumes:
      - ./app/:/app/
      - /app/node_modules
  proxy:
    image: jwilder/nginx-proxy
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
    ports:
      3000:3000